<label>Name: {{input value=name}}</label>
<label>DM?: {{input type="checkbox" checked=dm}}</label>
<div>
  <button id="createButton" {{action "createUser"}}>Create User</button>
</div>

Back to {{#link-to "users"}}Users{{/link-to}}

<ul>
{{#each model as |user|}}
  <li>{{user.name}}
  {{#if user.dm}}
  - DM
  {{/if}}
  </li>
{{/each}}
</ul>
