<h2 id="title">Welcome to DM Helper</h2>

<ul>
	<li>{{#link-to "index"}}HOME{{/link-to}}</li>
	<li>{{#link-to "users"}}Users{{/link-to}}</li>
	<li>{{#link-to "characters"}}Characters{{/link-to}}</li>
	<li>{{#link-to "monsters"}}Monsters{{/link-to}}</li>
	<li>{{#link-to "encounters"}}Encounters{{/link-to}}</li>
	<li>{{#link-to "npcs"}}NPCs{{/link-to}}</li>
</ul>

{{outlet}}



